nav {
    background-color: darkblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    font-size: 2em;
    text-align: center;
    color: #333;
}

img {
    max-width: 100%;
    height: auto;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}


aside {
  width: 20rem;
  margin: 1rem auto;
  border: 1px solid rgb(0 0 0 / 0.2); /* 1️⃣ */
  padding: 1rem;
  background-color: #eee;
  color: #333;
  text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

main img {
    width: 150px;
    height: auto;
}

p {
    padding: 0;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}