nav {
    background-color: darkblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

:root {
  --heading-background-color: #f06;
  --heading-text-color: #333;
  --heading-font: 'Montserrat', Helvetica, sans-serif;
  --padding: 1rem;
  --border: 1px solid rgb(0 0 0 / 0.1);
}

h1 {
  background-color: var(--heading-background-color);
  color: var(--heading-text-color);
  font-family: var(--heading-font);
  padding: var(--padding);
}

img {
    max-width: 100%;
    height: auto;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

aside {
  margin: 10px auto;
  padding: var(--padding);
  box-shadow: 0 0 10px rgb(0 0 0 / 0.1);
}

aside img {
    width: 200px;
    height: auto;
}

main img {
    width: 150px;
    height: auto;
}

p {
    padding: 0;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}