nav {
    background-color: darkblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    font-size: 2em;
    text-align: center;
    color: #333;
}

img {
    max-width: 100%;
    height: auto;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

aside {
    width: 300px;
    margin: 10px;
    border: 1px solid #ccc;
    padding: 15px;
    background-color: #f0f0f0;
    color: #333;
}

aside img {
    width: 200px;
    height: auto;
}

main img {
    width: 200px;
    height: auto;
}

p {
    padding: 0;
}

footer {
    margin-top: 20px;
    border-top: 1px solid #000;
    text-align: center;
}